[
    {
        "test": ".*.js$",
        "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "jsx": false,
            "loose": true,
            "decorators": true,
            "dynamicImport": true,
            "classPrivateProperty": true,
            "exportDefaultFrom": true,
            "exportNamespaceFrom": true,
            "importMeta": true,
            "decoratorsBeforeExport": true
        },
        "externalHelpers": true
        },
        "module": {
        "type": "commonjs"
        }
    }
]
  